

body{
        color: #333;
        text-align: left;
        font-family: "Courier";
        font-size: 16px;
        margin: 0;
        padding: 0;
        
}

#container{
        width: 80%;
        padding: 1em;
        text-align: left;
        border: 0 solid #333;
        margin: 0 auto;
}

#container h1{
font-size: 20px;
}